h1, p {
  font-family: Helvetica;
  font-size: 100px;
  text-align: center;
  color: blue;
}

#hay {
  background-color: mediumspringgreen;
}

#welcome {
  background-color: lightcoral; 
}

#yelp {
  background-color: skyblue;
}

#image {
  padding: center;
}
